@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fleur+De+Leah&display=swap');

/* default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(1, 1, 2, 0.541);
    font-family: 'Architects Daughter', cursive;  /*'Fleur De Leah', cursive; */
    text-align: center;
}
/* default setting for header for every pop up screen */
.section-area {
    height: 100vh;
    width: 100vw;
}
header {
    height: 5vh;
    width: 100%;
    background-color: black;
}
header p {
    font-size: 1.5rem;
    float: left;
    padding-left: 5px;
    color: white;
    font-style: 'Fleur De Leah', cursive;
}
.header-icon {
    width: 50px;
    height: 5vh;
    margin-right: 5px;
    float: right;
}
.div-box {
    background-color: red;
    height: 85vh;
    width: 70%;
    max-width: 1000px;
    max-height: 650px;
    margin: 5vh auto;
    padding: 1%;
}
/* setting default for start-screen section */
#start-screen {
    display: none;
}
/* styling #start-screen section */
.h1-text {
    font-size: 3rem;
    margin: 10vh 0;
    letter-spacing: 1px;
}
.paragraph-text{
    font-size: 1.5rem;
    margin-bottom: 15vh;
}
.playername {
    height: 30vh;
    width: 30%;
    background-color: red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.playername label {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px auto;
    width: 100%;
}
#playername {
    height: 5vh;
    width: 70%;
    margin: 10px auto;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}
#start-button {
    height: 40px;
    width: 80px;
    margin: 20px auto;
    background: transparent;
}
/* menu-screen section which comes after player name submition */

/* in-game screen section to display questions and answers set to hide */
#game-screen {
    display: none;
}
/* styling for in-game screen only */
.score-area {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info-div {
    height: 100%;
    width: 30%;
    margin: 0 auto;
}
.question-area {
    height: 10vh;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
}
.answers-area {
    height: 60vh;
    width: 60%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.game-button {
    width: 80%;
    height: 10vh;
    margin: auto;
    border-radius: 8px;
}

